@model IEnumerable<BloggingSystemRepository.UserFollowInfo>

<div id="sidebar">
	<h4 class="text-center">Subscriptions</h4>
	<ul id="subscriptionContainer">
		@foreach (var subscription in Model)
		{
			<li id="subscription-@subscription.Username" class="d-flex justify-content-center align-items-center">
				<a asp-controller="Users" asp-action="AuthorDetails" asp-route-author="@subscription.Username">
					<img src="@(subscription.Photo is null ? Url.Content("~/images/profile-icon.png") : subscription.Photo)" class="subscription-icon" alt="subscription" />
					@subscription.Username
				</a>
			</li>
		}
	</ul>
</div>